.appContent{

  margin: 0 auto;
  max-width: 987px;
}

@media screen and (max-width: 480px) {

  .appContent{
    max-width: 480px;
    margin: 0 5px;
  }
  
}

.searchByName{
  width: 100%;
  height: 3em;

}

.SearchUI{
  margin: 0 10%;
}